<%= link_to 'Launch Billboard', board_path, target: :_blank, class: 'btn btn-default launch-button' %>
<div class="logo-img"><%= image_tag("broadcast.png", :alt => "broadcast", :class => "logo") %></div>
<h1>Broadcast</h1>


<p id="notice"><%= notice %></p>
<br><br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Endpoint</th>
      <th>Sound</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= sound.hook_type.capitalize %></td>
        <td><%= link_to hook_url(provider: sound.name), hook_url(provider: sound.name) %></td>
        <td>
          <% if sound.sound_file.present? %>
            <audio controls="controls">
              <source src="<%= "http:" + sound.sound_file.url %>" type="audio/mpeg">
            </audio>
          <% else %>
            No sound
          <% end %>
        </td>
        <td><%= link_to 'Remove', sound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- Button trigger modal -->
<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal">
  New Broadcast
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Broadcast</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', sound: @sound %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
