<p id="notice"><%= notice %></p>

<h1>Sounds</h1>

<%= render 'form', sound: @sound %>

<br>
<hr>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sound</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= link_to sound.name, hook_url(provider: sound.name) %></td>
        <td>
          <audio controls="controls">
          <source src="<%= "http://" + sound.sound_file.to_s.match(/\/\/(.*)\?/).captures[0] %>" type="audio/mpeg">
          </audio>
        </td>
        <td><%= link_to 'Show', sound %></td>
        <td><%= link_to 'Edit', edit_sound_path(sound) %></td>
        <td><%= link_to 'Destroy', sound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sound', new_sound_path %>
