<p id="notice"><%= notice %></p>

<%= link_to 'Launch Billboard', board_path, target: :_blank, class: 'launch_billboard' %>
<h1>Webhooks</h1>

<table>
  <thead>
    <tr>
      <th>Endpoint</th>
      <th>Type</th>
      <th>Sound</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= link_to hook_url(provider: sound.name), hook_url(provider: sound.name) %></td>
        <td><%= sound.hook_type.capitalize %></td>
        <td>
          <audio controls="controls">
          <source src="<%= "http:" + sound.sound_file.url %>" type="audio/mpeg">
          </audio>
        </td>
        <td><%= link_to 'Remove', sound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Add New Webhook</h3>
<%= render 'form', sound: @sound %>
